.tim{
    border: 2px solid #AD235E;
    border-radius: 150px;
    width: 200px;
    height: 190px; background-image: url(http://www.metodista.br/rronline/noticias/saude/2013/04/carteira-de-vacinacao/@@images/208c32ee-8d51-487a-bee5-5bbcb0b3fe46.jpeg);
    background-position: center;
    }